In [3]:
# assuming panas is installed which it is in jupyter
import pandas as pd

In [9]:
ls

 Volume in drive C is Windows
 Volume Serial Number is CC10-C383

 Directory of C:\Users\alexa\Desktop\Work

07/07/21  14:22    <DIR>          .
07/07/21  14:22    <DIR>          ..
05/17/21  14:58           144,115 Alexander Pasch - The Merits of Transitional Anger.pdf
07/01/21  18:25         2,321,048 Beast P.pptx
05/03/21  14:26    <DIR>          Blog + Writing
05/03/21  14:27    <DIR>          Career
07/01/21  18:30         2,231,741 Consolidation and Generality Extraction (LewPea Lab 2018).pptx
03/26/21  11:36    <DIR>          Data_Extract_From_Population_estimates_and_projections
05/30/21  17:35            25,724 Date Ideas
06/18/21  14:55    <DIR>          FF
06/04/21  09:24               635 FindingFocusPWs.txt
06/04/21  13:46    <DIR>          Franâ€¡ais
07/01/21  18:21         2,665,071 General AI.pptx
07/03/21  18:33            56,854 HLI Invoice - Alex P - June.pdf
06/15/21  23:19    <DIR>          Income
06/04/21  13:45             9,644 Michigan Schools.csv
06/04/21  14:00             2,107 Michigan Schools.csv.errors.csv
06/04/21  13:46            34,780 Michigan Teachers.csv
03/27/21  18:19           462,571 MindfulLearning_OECD.pdf
07/07/21  13:13        60,530,216 Miniconda3-py39_4.9.2-Windows-x86_64.exe
11/25/20  18:59    <DIR>          MLinPyth
05/19/21  13:57    <DIR>          Other Work
05/13/21  02:42    <DIR>          PHL 321
05/17/21  14:59    <DIR>          PHL 325
05/15/21  06:35    <DIR>          PHL 365
07/07/21  14:22             8,998 Stock Market Returns.xlsx
07/01/21  18:25         3,303,976 Williams_Pasch_Crowell_1-2FR.docx
              14 File(s)     71,797,480 bytes
              13 Dir(s)  311,377,997,824 bytes free

In [15]:
stockreturns = pd.read_excel('Stock Market Returns.xlsx')

In [36]:
df = stockreturns[['Year','Annual\n% Change']]

In [42]:
df = df.rename(columns={"Year": "Year", "Annual\n% Change": "Change"})

In [60]:
df.tail(10)

    Year  Change
84  1937 -0.3859
85  1936  0.2792
86  1935  0.4137
87  1934 -0.0594
88  1933  0.4659
89  1932 -0.1515
90  1931 -0.4707
91  1930 -0.2848
92  1929 -0.1191
93  1928  0.3788

In [55]:
df[df['Change']< 0].head()

    Year  Change
3   2018 -0.0624
6   2015 -0.0073
13  2008 -0.3849
19  2002 -0.2337
20  2001 -0.1304

In [57]:
prob_goingup = 1 - len(df[df['Change']< 0]) / len(df)

In [64]:
print('The probability the stock market goes up, using data starting from 1928 is ' + str(prob_goingup))

The probability the stock market goes up, using data starting from 1928 is 0.6914893617021276